<br>
<br>
<br>
<div class="row">
  <div class="col s6">
    <h4 class="white-text fancy-font"><center>Amber Crawford</center></h4>
    <p><center class="white-text thin"><%="Student at Turing School of Software & Design"%></center></p><br>
    <center><div class="btn-group">
      <a class="modal-trigger waves-effect waves-light btn home-btn" href="#modal1">About Me</a>
        <div id="modal1" class="modal">
          <div class="modal-content">
            <div style="border: solid"><br>
              <!-- <div class="row"> -->
                <!-- <div class="col s1 offset-s1" style="margin-left: 24px">
                  <img id="about-picture" src="http://i.imgur.com/085wTny.jpg">
                </div> -->
                    <h4><center>Amber Crawford</center></h4>
                    <h6 class="fancy-font-small" style="bold-italic"><center><%="Full Stack Problem Solver"%></center></h6>
                    <!-- <h6 class="fancy-font-small"><center>Denver, Colorado</center></h6> -->

                <hr class="about-divider">
                <div class="row" style="padding-left: 36px; padding-top: 12px">
                  <div class="row">
                    <div class="col s2">
                      <span><%= image_tag("code.png") %></span>
                    </div>
                    <div class="col s8" id="about-text">
                        I am a full-stack web developer with a love for solving problems and a focus on Ruby, Rails and Javascript development.
                    </div>
                    <!-- <center><div class="btn-group">
                      <a href="http://www.linkedin.com/in/ambercrawford" class="btn about-btn black" target="_blank">LinkedIn</a>
                      <a href="#modal2" class="modal-trigger waves-effect waves-light btn about-btn black">Contact</a>
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col s2">
                      <%= image_tag("lion.png") %>
                    </div>
                    <div class="col s8" id="about-text">
                        Outside of programming, I also have experience in business analytics and project management as well as non-profit development and have worked with several animal-focused groups wherein I directly handled lion, tiger, and bear populations - oh my!
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s2">
                      <%= image_tag("job.png") %>
                    </div>
                    <div class="col s8" id="about-text">
                        I will graduate from the Turing School in March of 2016 and am excited to tackle new problems in the business world with a growing and innovative company in tech.  Feel free to contact me with any questions or just to talk shop!
                    </div>
                  </div>
                  <hr class="about-divider">
                </div>
            </div>
          </div>
        </div>
      <a href="https://github.com/amcrawford" class="btn home-btn" target="_blank"><center>GitHub</center></a>
      <a href="#modal2" class="modal-trigger waves-effect waves-light btn home-btn">Contact</a>
        <div id="modal2" class="modal">
          <div class="modal-content"><br>
            <div style="border: solid">
              <h4 class="fancy-font-caption"><center>Amber Crawford</center></h4>
              <hr class="about-divider">
              <h5><sub><i class="material-icons small" style="margin-top:12px">email</i></sub>  <span>amber.crawford.developer@gmail.com</span></h5>
              <h5><sub><i class="material-icons small" style="margin-top:12px">phone</i></sub>  410-916-3726</h5><br>
            </div><br>
          </div>
        </div>
      </div>
    </center>
    </div>
</div>
